* {
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}
main {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

h1{
  text-align: center;
  margin: 20px 0;
}
.text {
  margin-bottom: 20px;
}
.text p {
  margin-bottom: 20px;
}
.image {
  max-width: 100%;
  margin-bottom: 20px;
}
.grid__row {
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  margin-right: -10px;
}
.grid__col {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}
.grid__row:nth-child(2) .grid__col:first-child {
  order: 1;
}
/* Cards */
.cards__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.cards__col {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 1.25rem;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  max-width: 470px;
  max-height: 320px;
  overflow: auto;
  background-color: #fff;
  border: 2px solid #aaa;
  border-radius: 5px;
  height: 100%
}

.card__title {
  margin-bottom: 20px;
  font-size: 1.5em;
  line-height: 1;
  word-break: break-word;
}

.card__content {
  display: flex;
  flex: 1;
}

.card__text {
  font-size: 1em;
  line-height: 1.20;
  word-break: break-word;
}

.card__image {
  padding-right: 20px;
  flex: 0 0 150px;
}

.card__img {
  max-width: 100%;
}

.card__tags {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.card__tag {
  font-weight: bold;
  margin-right: 10px;
}

.cards--first-flex-item {
  order: -1;
}
/*Minna 700px*/
@media (max-width: 699px) {
  .card {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #aaa;
    border-radius: 0;
    padding-bottom:1.25rem;
    max-width: none;
    max-height: none;
  }
  .card__text {
    margin-bottom:1.25rem;
  }
  .card__content {
    flex-direction: column;
  }
  .card__image {
    padding-right: 0;
  }
}

/* Viewport - 700px*/
@media (min-width: 700px) {
  .cards {
    margin-bottom: 40px;
  }
  .cards__col {
    width: 50%;
  }
}

/* Viewport - 1000px*/
@media (min-width: 1000px) {
  .grid__row:nth-child(2) .grid__col:first-child {
    order: 0;
  }
  .grid__row {
    flex-direction: row;
  }
  .grid__col {
    width: 50%;
    margin-bottom: 2.5rem;
  }
  .cards__col {
    width: 33.3333334%;
  }
  
}
/*Viewport - 1490px*/
@media(min-width: 1490){
  main{
    padding: none;
  }
}

